# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

#Unused files
routes/auth.js
routes/register.js

# System files
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Production build
dist/
build/

# Logs
logs/
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

